body {
	padding: 0;
	margin: 0;
	background-color: #FFF;
	color: #4a4a4a;
	width: 100%;
	font-family: Georgia, Times New Roman, Arial;
	font-size: 1.125em;
	line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
	color: #000;
	font-weight: 700;
	line-height: 1.05em;
	margin: 0 0 24px;
}

h1 {
	font-size: 3.125rem;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 2rem;
}

h4, h5, h6 {
	font-size: 1.5rem;
}

a {
	text-decoration: none;
	color: #6a5eff;
}

a:visited {
	color: #884488;
}

a:hover {
	text-decoration: underline;
	color: #bb1122;
}

p {
	font-size: 1.25rem;
	margin: 0 0 1em;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	padding: 0;
	margin: 0;
}

#content ul {
	padding: 0;
	margin: 0 0 1em;
}

#content ul li {
	margin: 0;
	padding: 0 0 0.8em;
}

.container {
	max-width: 1450px;
	padding: 0 30px;
	margin: 0 auto;
}

#ADA_content_skip {
	position: absolute;
	bottom: 100%;
	right: 100%;
}

#header {
	position: relative;
  background-color: #740909;
  width: 100%;
  padding: 0;
}

#header .container {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}

.header_left {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 2% 0 0;
}

.logo {
	display: inline-block;
	font-family: Arial;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1em;
	padding: 10px 20px;
	margin-right: 8px;
}

.logo img {
	display: none;
	width: 100%;
	max-width: 275px;
}

.header_left ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header_left li {
	margin: 0;
	padding: 0;
}

.header_left li + li {
	margin-left: 8px;
}

.header_left a {
	text-decoration: none;
	color: #FFF;
}

.header_right {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	width: 100%;
}

#header_list {
	list-style-type: none;
	margin: 0 2% 0 auto;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	text-transform: capitalize;
}

#header_list > li > a {
	position: relative;
	z-index: 0;
	display: block;
	padding: 20px 12px;
	background-color: transparent;
	color: #FFF;
	text-decoration: none;
}

#header_list > li > a::after {
	content: '';
	background-color: transparent;
	padding-bottom: 4px;
	width: 100%;
	display: block;
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;
}

#header_list > li > a:hover, #header_list .has_dropdown.active > a, #header_list .has_dropdown.focused > a {
	background-color: #480c0c;
}

#header_list > li:nth-child(3n-2) a:hover::after, #header_list .has_dropdown.active > a::after, #header_list .has_dropdown.focused > a::after {
	background-color: #c48da6;
}

#header_list > li:nth-child(3n-1) a:hover::after {
	background-color: #d99e73;
}

#header_list > li:nth-child(3n) a:hover::after {
	background-color: #FFF;
}

#back_main {
	display: block;
  padding: 7px 13px;
  text-align: center;
  background-color: #FFF;
  border: 1px solid #FFF;
  border-radius: 8px;
  white-space: nowrap;
  color: #000;
  text-decoration: none;
}

#back_main:hover {
	color: #FFF;
	background-color: transparent;
}

#banner {
	position: relative;
	z-index: 0;
	overflow: hidden;
	background-color: #f5f5b8;
	padding: 45px 0;
}

#banner h1 {
	font-family: "Times New Roman";
}

#banner h1 span {
	font-style: italic;
}

#banner::before {
	content: '';
	background-color: #c48da6;
	height: 150px;
	width: 150px;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
}

#banner::after {
	content: '';
	/*background-color: #d99e73;*/
	height: 0;
	width: 0;
	border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-bottom: 150px solid #d99e73;
	position: absolute;
	z-index: -1;
	bottom: 0;
	right: 0;
}

.banner_upper {
	display: flex;
	align-items: center;
}

.banner_upper::before {
	content: '';
	flex: 0 0 auto;
	display: inline-block;
	background: url("./assets/images/FB_Profile_Pic.jpg") center / cover no-repeat;
	background-image: url(../andychang.github.io/assets/images/FB_Profile_Pic.jpg);
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin-right: 20px;
}

#banner h1 {
	text-transform: capitalize;
	margin: 0;
}

#banner ul {
	margin: 40px 0 0;
	list-style-type: none;
	color: #000;
	padding: 0 0 0 75px;
}

#banner li {
	padding: 0 0 1em;
}

#banner li:last-child {
	padding: 0;
}

#content {
	background-color: #FFF;
}

#content .container {
	padding-top: 2em;
	padding-bottom: 2em;
}

#top_page {
	background-color: #c9303e;
	color: #FFF;
}

#top_page h2 {
	color: #FFF;
}

#top_page p:last-child {
	margin: 0;
}

#skillset {
	background-color: #F9EEFF;
}

.three_column_list {
	display: flex;
	flex-wrap: wrap;
}

.three_column_list > div {
	box-sizing: border-box;
	border: 1px solid #000;
	border-radius: 2em;
	overflow: hidden;
	background-color: #FFF;
	width: calc(33.33% - 1em);
	margin: 0 1.5em 1em 0;
}

.three_column_list > div:nth-child(3n) {
	margin-right: 0;
}

.three_column_list > div:nth-child(3n-2) h3 {
	background-color: #c48da6;
}

.three_column_list > div:nth-child(3n-1) h3 {
	background-color: #d99e73;
}

.three_column_list > div:nth-child(3n) h3 {
	background-color: #f5f5b8;
}

.three_column_list h3 {
	color: #000;
	min-height: 2.5em;
	display: flex;
	align-items: center;
	margin: 0;
	padding: 20px 30px;
}

#content .three_column_list ul {
	list-style-type: none;
	padding: 30px 20px;
	margin: 0;
}

#content .three_column_list ul li:last-child {
	padding: 0;
}

.three_column_list p {
	text-align: center;
}

#it_toggle a {
	pointer-events: none;
	color: #000;
	text-decoration: none;
}

#it_toggle a:hover {
	text-decoration: none;
	color: #4a4a4a;
}

#it_toggle a::before {
	content: 'Information Technology ';
}

#it_toggle.toggled_shorthand a::before {
	content: 'I.T. ';
}

.education {
	background-color: #eee;
}

#mtsac_toggle::before {
	content: "Mt. San Antonio College";
}

#mtsac_toggle.toggled_shorthand::before {
	content: 'Mt. SAC';
}

#cpp_toggle::before {
	content: 'California State Polytechnic University, Pomona';
}

#cpp_toggle.toggled_shorthand::before {
	content: 'Cal Poly Pomona';
}

.content_module_three {
	background-color: #740909;
	color: #FFF;
}

.has_dropdown {
	position: relative;
}

.dropdown_menu {
	display: none;
	position: absolute;
	z-index: 10;
	background-color: #740909;
	min-width: 250px;
	width: 100%;
	list-style-type: none;
}

.dropdown_menu a {
	display: block;
	text-align: left;
	color: #FFF;
	text-decoration: none;
	padding: 10px 12px;
}

.dropdown_menu a:hover {
	background-color: #480c0c;
	color: #FFF;
}

.has_dropdown:hover > .dropdown_menu, .has_dropdown.focused > .dropdown_menu {
	display: block;
}


.content_module_two {
	background-color: #FFF;
}

.favicon_explanation::after {
	content: url(../andychang.github.io/assets/images/apple-touch-icon.png);
	display: block;
	width: 100%;
	max-width: 180px;
	margin: 1em 0;
}

#footer {
	padding: 40px 0;
	background-color: #000;
	color: #FFF;
}

#footer div {
	text-align: center;
}

#footer p {
	font-size: 1.125rem;
}

#footer p:last-child {
	margin: 0;
}

#footer a, #footer a:visited {
	color: #6a5eff;
}

@media screen and (max-width: 1279px) {
  
}

@media screen and (max-width: 1023px) {
  .container {
  	padding: 0 20px;
  }

	#header_list {
		display: none;
	}

  .banner_upper {
  	display: block;
  }

  .banner_upper::before {
  	margin: 0 0 20px;
  }

  #banner ul {
  	padding: 0;
  }

  .header_left {
  	padding: 0;
  }

  .three_column_list {
  	display: block;
  }

  .three_column_list > div {
  	width: 100%;
  }

}

@media screen and (max-width: 767px) {
	

  h1 {
  	font-size: ;
  }
}
